body {
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.top-box {
    height: 40px;
    width: 80px;
    border: 1px solid black;
    color: white;
    background-color: rebeccapurple;
}
.middle-box {
    height: 40px;
    width: 120px;
    border: 1px solid black;
    color: white;
    background-color: dodgerblue;
}
.bottom-box {
    height: 40px;
    width: 160px;
    border: 1px solid black;
    color: white;
    background-color: violet;
}